@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    
    /* ### Neutral */
    
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
    
}

body{
    background-color: var(--Light-Gray);
    font-family: "karla";
    font-size: 16px;
    padding: 1.25rem;
}

p.green{
    color: var(--Bright-Yellow);
    font-weight: 700;
}

.container{
    background-color: #fff;
    border-radius: 0.625rem;
}

.container > article:first-child{
    border-radius: 1px;
    margin: 0 20px;
    padding: 2rem;
    background-color: #fff;
    color: hsl(218, 22%, 67%);
}

.container > article:first-child h1{
    color: var(--Cyan);
    margin-bottom: 1rem;
}

.container > article:first-child p{
    margin-bottom: 1rem;
    font-size: 16px;
    width: 82%;
}

p,
li{
    line-height: 1.6;
}

.container > article:first-child p:last-child{
    color: var(--Grayish-Blue);
}

.container section{
    display: flex;
    flex-direction: column;
}

.container section article{
    padding: 2rem;
    color: #fff;
}

.container section article:first-child{
    background-color: var(--Cyan);
}

.container section article:first-child h2{
    margin-bottom: 1rem;
}

.container section article:first-child h3{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
}

.container section article:first-child h3 span{
    font-size: 2rem;
    font-weight: 700;
    margin-right: 1rem;
}

.container section article:first-child p{
    margin: 1rem;
}

.container section article:last-child{
    background-color: hsl(179, 62%, 49%);
}

.container section article:last-child h2{
    margin-bottom: 1rem;
}

button{
    background-color: var(--Bright-Yellow);
    color: hsl(0, 0%, 100%);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.3rem;
    padding: 0.625rem 1.25rem;
    width: 95%;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
}

ul{
    list-style-type: none;
}

@media (min-width:768px){

    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }


    .container{
        width: 700px;
        margin: auto;
    }

    .container section{
        flex-direction: row;
    }

    .container > article:first-child h1{
        font-size: 2rem;
    }

    .container section article:first-child{
        flex: 1;
        border-bottom-left-radius: 0.625rem;
    }

    .container section article:last-child{
        flex: 1;
            border-bottom-right-radius: 0.625rem;
            border-bottom-left-radius: 0;
    }

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }